<div class="container">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Catogery</th>
                <th>Product Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let product of product">
            <td> {{product.productId}} </td>
            <td> {{product.productCatogery}} </td>
            <td> {{product.productName}} </td>
            <td> 
                <button type="button" class="btn btn-large btn-block btn-primary" (click) = onAdd(product)>AddToWishList</button>
            </td>
        </tbody> 
</div>
